[submodule "NoSE"]
	path = NoSE
	url = git@github.com:Y-Wakuta/td_NoSE.git
[submodule "td_NoSE"]
	path = time_depend_nosql_schema_designer
	url = git@github.com:Y-Wakuta/td_NoSE.git
[submodule "cassandra-loader"]
	path = cassandra-loader
	url = git@github.com:Y-Wakuta/cassandra-loader.git
[submodule "backend/mysql_tpch_dump"]
	path = backend/mysql_tpch_dump
	url = git@github.com:Y-Wakuta/TPC-H_on_MySQL.git
